/* Adicione esta parte para estilizar o modal */
.modal {
    display: none;
    position: fixed;
    top: 60px;
    right: 0;
    transform: translate(-50%, -50%);
    background-color: rgb(241, 68, 68);
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content {
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

/* Adicione um estilo para o fundo escurecido quando o modal estiver aberto */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Estilize o botão de fechar se desejar ter um */
.close {
    font-size: 24px;
    cursor: pointer;
}

.close:hover {
    color: red;
}

/* Restante do seu estilo existente */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    margin: 0 auto;
    width: 500px;
    height: 100%;
    justify-content: center;
    margin-top: 8rem;
    border: 5px solid black;
    border-radius: 20px;
}

.title {
    margin: 1rem 0rem;
    font-size: 32px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.label {
    font-size: 20px;
    display: block;
    margin-bottom: 1rem;
}

#numberInput {
    width: 200px;
    height: 50px;
    font-size: 22px;
    text-align: center;
    margin-bottom: 2rem;
}

#result {
    font-size: 18px;
    padding: .5rem;
    background: none;
    border-radius: 5px;
    transition: .5s;
    margin-bottom: .5rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

#result:hover {
    background-color: black;
    color: white;
}

#resultContainer {
    font-size: 22px;    
    text-align: center;
    margin-bottom: 15px;
    background-color: bisque;
    border-radius: 10px;
    border: 1px solid;
    padding: 8px 0px;
    min-height: 50px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}
